@import 'breakpoints';

.landing-layout {
  background-image: url('/assets/webp/bg.webp');
  background-size: 100vw 100vh;
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (max-width: $breakpoint-lg) {
  .landing-layout {
    background-position: top right;
    background-size: 100% 1240px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .landing-layout {
    background-position: top right;
    background-size: 100% 1240px;
  }
}
