@import 'variables';
@import 'breakpoints';

.core-button {
  border-radius: 8px;
  border: none;
  padding: 0 20px;
  font-weight: 500;
  display: inline-flex;
  width: auto;

  &.primary {
    background-color: $primary-color;
    color: white;
  }

  &.secondary {
    background-color: $secondary-color;
    color: $primary-color;
  }

  &.text {
    background-color: transparent;
    color: $primary-color;
  }

  &:hover {
    cursor: pointer;
  }

  & img {
    margin-right: 8px;
  }
}
