@import 'breakpoints';

.feature {
  width: 280px;
  min-height: auto;
  align-items: center;
  display: flex;

  & > img {
    margin-right: 24px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .feature {
    width: 328px;
    &__title {
      font-size: 30px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .feature {
    width: 335px;
    &__title {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
