@import 'variables';
@import 'breakpoints';

.navbar {
  position: relative;
  padding: 0px 5%;
  display: flex;
  height: 80px;
  align-items: center;
  &__items {
    & a {
      text-decoration: none;
      color: $text-color;
      padding: 8px;
      margin: 8px;
      font-weight: 500;
      &:hover {
        color: $primary-color;
      }
    }
  }

  &__logo {
    padding: 24px;
  }

  &__hamburguer {
    background: none;
    border: none;
    font-size: 24px;
    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }

  &__buttons {
    width: 320px;
    margin: 4px 16px;
    gap: 10%;
  }
}

.navbar__hamburguer {
  display: none;
}

.navbar__menu {
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease; /* Transición de opacidad de 0.3 segundos con efecto suave */
}

@media screen and (max-width: $breakpoint-lg) {
  .navbar__hamburguer {
    display: block;
  }

  .navbar__items {
    display: none;
  }

  .navbar__menu {
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 10px 5px 5px #ccc;
    width: 100%;
    &-items {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: $text-color;
        padding: 8px;
        margin: 8px;
        font-weight: 500;
        &:hover {
          color: $primary-color;
        }
      }
    }
    &-buttons {
      display: none;
      padding-bottom: 24px;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .navbar__hamburguer {
    display: block;
  }

  .navbar__items {
    display: none;
  }

  .navbar__buttons {
    display: none;
  }

  .navbar__menu {
    align-items: center;
    &-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 10%;
    }
  }
}

.open {
  opacity: 1;
}
