<div class="table">
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container
      matColumnDef="{{ column.name }}"
      *ngFor="let column of columnsConfig"
    >
      <th class="table__header" mat-header-cell *matHeaderCellDef>
        {{ column.title }}
      </th>

      <td class="table__row" mat-cell *matCellDef="let element">
        {{ element[column.name!] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th class="table__header" mat-header-cell *matHeaderCellDef>Post</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="toggleRow(element)"
          class="expand-button"
        >
          <mat-icon>
            {{ element.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsConfig.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
        >
          <app-manage-posts [rowData]="element"></app-manage-posts>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="example-element-row"
      [class.example-expanded-row]="element.expanded"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
</div>
